{% extends 'base.html' %}
{% load static %}

{% block body %}
<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Kurslar</h2>
        <p>Kendinize ait en uygun kursu bulabilirsiniz </p>
      </div>
    </div><!-- End Breadcrumbs -->
  <br><br><br><br>

    
    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
        {% for dersler in ders  %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{{dersler.resim.url}}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>{{dersler.tür}}</h4>
                  <p class="price">{{dersler.ücret}}</p>
                </div>
                <h3><a href="course-details.html"></a></h3>
                <p>{{dersler.icerik}}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <span>{{dersler.baslik}}</span>
                    
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->
        {% endfor %}



        </div>

      </div>
    </section><!-- End Courses Section -->
    <br><br><br><br>



  </main><!-- End #main -->
{% endblock body %}