{% extends "base.html" %} 
{% load static %}

 {% block body %}
{% include "includes/navbar.html" %}
<div class="main">
    <div class="video">
        <iframe class="import-video" src="https://www.youtube.com/embed/NMFq7zjEoH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen name="search_iframe"></iframe>
    </div>

    <div class="course-detail">
        <nav id="navbar">
            <ul class="nav-element">
                <li class="nav-item">
                    <a href="#one" class="element first-el">Kurs İçeriği</a>
                </li>
                <li class="nav-item">
                    <a href="#two" class="element second-el">Genel Bakış</a>
                </li>
                <li class="nav-item">
                    <a href="#three" class="element thirth-el">Soru & Cevap</a>
                </li>
                <li class="nav-item">
                    <a href="#four" class="element fourth-el">Eğitmenler</a>
                </li>
                <li class="nav-item">
                    <a href="" class="element arrow arrow-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-caret-left-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M10.205 12.456A.5.5 0 0 0 10.5 12V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4a.5.5 0 0 0 .537.082z"/>
                            </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="element arrow arrow-right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-caret-right-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M5.795 12.456A.5.5 0 0 1 5.5 12V4a.5.5 0 0 1 .832-.374l4.5 4a.5.5 0 0 1 0 .748l-4.5 4a.5.5 0 0 1-.537.082z"/>
                            </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="stickyalias"></div>

        <br>

        <div class="element-detail">
            <h4 id="one">Kurs İçeriği</h4>
            <hr class="hood-underline">

            <!-- Kurs içerik başlangıç -->

            <div class="first-container">
                <ul>
                    <li class="drop-down">
                        <a href="#" data-toggle="drop-down">First Menu <i class="icon-arrow"></i></a>
                        <ul class="drop-down-menu">
                            <li><a href="https://www.youtube.com/embed/NMFq7zjEoH8" target="search_iframe">1</a></li>
                            <li><a href="https://www.youtube.com/embed/vLNGxab7dOk" target="search_iframe">2</a></li>
                            <li><a href="https://www.youtube.com/embed/XUVt-bi8yTo" target="search_iframe">3</a></li>
                            <li><a href="https://www.youtube.com/embed/NMFq7zjEoH8" target="search_iframe">4</a></li>
                            <li><a href="https://www.youtube.com/embed/vLNGxab7dOk" target="search_iframe">5</a></li>
                            <li><a href="https://www.youtube.com/embed/XUVt-bi8yTo" target="search_iframe">6</a></li>
                        </ul>
                    </li>
                    <li class="drop-down">
                        <a href="#" data-toggle="drop-down">Second Menu <i class="icon-arrow"></i></a>
                        <ul class="drop-down-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>
                    <li class="drop-down">
                        <a href="#" data-toggle="drop-down">Third Menu <i class="icon-arrow"></i></a>
                        <ul class="drop-down-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>
                    <li class="drop-down">
                        <a href="#" data-toggle="drop-down">Fifth Menu <i class="icon-arrow"></i></a>
                        <ul class="drop-down-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Kurs içerik bitiş -->




            <!-- Genel Bakış Başlangıç -->

            <h4 id="two">Genel Bakış</h4>
            <hr class="hood-underline">

            <div class="second-container">
                <h5 class="hood-about">Kurs Hakkında</h5>
                <div class="about">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, eveniet!</p>
                    <hr class="quest-hr">
                    <div class="about-detail">
                        <p><strong>Yetkinlik Düzeyi :</strong> Temel Seviye</p>
                        <p><strong>Öğrenci Sayısı :</strong> 5000</p>
                        <p><strong>Dil :</strong> Türkçe</p>
                        <p><strong>Altyazı :</strong> Evet</p>
                        <p><strong>Altyazı Dili :</strong> İngilizce</p>
                        <p><strong>Ders Bölümü :</strong> 18 Bölüm</p>
                        <p><strong>Ders Saati :</strong> 3 Saat</p>
                    </div>
                    <hr class="quest-hr">
                </div>
            </div>

            <!-- Genel Bakış Bitiş -->


            <!-- Soru & Cevap Başlangıç -->

            <h4 id="three">Soru & Cevap</h4>
            <hr class="hood-underline">

            <div class="thirth-container">
                <h5 class="quest-hood">Kurstaki Sorular (500)</h5>
                <div class="comments">

                    <!-- Tekrarlanacak  -->
                    <hr class="quest-hr">
                    <div class="comment">
                        <div class="grid grid1">
                            <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" class="comment-img">
                            <h6 class="comment-name">Yazılımcı Rehberi</h6>
                            <p class="comment-time">Gün saat felan</p>
                        </div>
                        <div class="grid grid2">
                            <p class="comment-sent">
                                YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM
                            </p>
                        </div>
                    </div>
                    <hr class="quest-hr">
                    <div class="comment">
                        <div class="grid grid1">
                            <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" class="comment-img">
                            <h6 class="comment-name">Yazılımcı Rehberi</h6>
                            <p class="comment-time">Gün saat felan</p>
                        </div>
                        <div class="grid grid2">
                            <p class="comment-sent">
                                YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM
                            </p>
                        </div>
                    </div>
                    <hr class="quest-hr">

                    <!-- Gizlenecek Kısım -->
                    <div id="ghost">
                        <div class="comment">
                            <div class="grid grid1">
                                <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" class="comment-img">
                                <h6 class="comment-name">Yazılımcı Rehberi</h6>
                                <p class="comment-time">Gün saat felan</p>
                            </div>
                            <div class="grid grid2">
                                <p class="comment-sent">
                                    YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM
                                </p>
                            </div>
                        </div>
                        <hr class="quest-hr">
                        <div class="comment">
                            <div class="grid grid1">
                                <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" class="comment-img">
                                <h6 class="comment-name">Yazılımcı Rehberi</h6>
                                <p class="comment-time">Gün saat felan</p>
                            </div>
                            <div class="grid grid2">
                                <p class="comment-sent">
                                    YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM YORUM
                                </p>
                            </div>
                        </div>
                        <hr class="quest-hr">
                    </div>

                </div>
                <button id="hide-show">Daha <p id="change-txt">Fazla</p> Göster</button>

                <div class="send-comment">
                    <h6 class="quest-ask">Soru Sor</h6>
                    <select class="which-course">
                            <optgroup label="1.Bölüm" class="story-course">
                                <option class="course-select">1.ders</option>
                                <option class="course-select">2.ders</option>
                                <option class="course-select">3.ders</option>
                                <option class="course-select">4.ders</option>
                            </optgroup>
                            <optgroup label="2.Bölüm" class="story-course">
                                <option class="course-select">1.ders</option>
                                <option class="course-select">2.ders</option>
                                <option class="course-select">3.ders</option>
                                <option class="course-select">4.ders</option>
                            </optgroup>
                        </select>
                    <br>

                    <textarea class="comment-write" placeholder="Sorunuzu Yazınız..."></textarea>
                    <br>

                    <button type="submit" class="comment-button">Gönder</button>
                </div>
            </div>

            <!-- Soru & Cevap Bitiş -->

            <!-- Eğitmen Başlangıç -->

            <h4 id="four">Eğitmenler</h4>
            <hr class="hood-underline">
            <div class="fourth-container">
                <h6 class="educator-hood">Eğitmen Hakkında</h6>
                <hr class="quest-hr">
                <div class="educator-about">
                    <div class="educator-img-div">
                        <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" class="educator-img" alt="educator-img">
                        <h5 class="educator-name">Yazılımcı Rehberi</h5>
                        <strong>10/04/2021 de katıldı.</strong>
                    </div>
                    <div class="educator-about-txt">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ipsa consectetur commodi repellendus voluptatum rerum hic tenetur sit aperiam ipsam, facere, mollitia consequatur necessitatibus minus molestiae ratione minima. Voluptates excepturi itaque
                            qui exercitationem laborum voluptatum! Soluta error in expedita amet corporis, debitis sit ducimus nam facere saepe et magnam sunt incidunt quo itaque cumque alias fugiat, quasi voluptatum quidem illo doloremque aut quas? Quasi
                            maiores optio, laudantium facilis quia itaque ipsam ex voluptates corporis aliquid odit porro libero consequatur nostrum quibusdam minus? Eveniet aut perferendis quo quod in? Repellendus, et! Tenetur tempore assumenda quam
                            porro sint architecto, quaerat omnis modi.
                        </p>
                    </div>
                </div>
                <hr class="quest-hr">

                <div class="educator-about">
                    <div class="educator-img-div">
                        <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" class="educator-img" alt="educator-img">
                        <h5 class="educator-name">Yazılımcı Rehberi</h5>
                        <strong>10/04/2021 de katıldı.</strong>
                    </div>
                    <div class="educator-about-txt">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ipsa consectetur commodi repellendus voluptatum rerum hic tenetur sit aperiam ipsam, facere, mollitia consequatur necessitatibus minus molestiae ratione minima. Voluptates excepturi itaque
                            qui exercitationem laborum voluptatum! Soluta error in expedita amet corporis, debitis sit ducimus nam facere saepe et magnam sunt incidunt quo itaque cumque alias fugiat, quasi voluptatum quidem illo doloremque aut quas? Quasi
                            maiores optio, laudantium facilis quia itaque ipsam ex voluptates corporis aliquid odit porro libero consequatur nostrum quibusdam minus? Eveniet aut perferendis quo quod in? Repellendus, et! Tenetur tempore assumenda quam
                            porro sint architecto, quaerat omnis modi.
                        </p>
                    </div>
                </div>
                <hr class="quest-hr">
            </div>

            <!-- Eğitmen Bitiş -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        // drop-down Menu
        var dropdown = document.querySelectorAll('.drop-down');
        var dropdownArray = Array.prototype.slice.call(dropdown, 0);
        dropdownArray.forEach(function(el) {
            var button = el.querySelector('a[data-toggle="drop-down"]'),
                menu = el.querySelector('.drop-down-menu'),
                arrow = button.querySelector('i.icon-arrow');

            button.onclick = function(event) {
                if (!menu.hasClass('show')) {
                    menu.classList.add('show');
                    menu.classList.remove('hide');
                    arrow.classList.add('open');
                    arrow.classList.remove('close');
                    event.preventDefault();
                } else {
                    menu.classList.remove('show');
                    menu.classList.add('hide');
                    arrow.classList.remove('open');
                    arrow.classList.add('close');
                    event.preventDefault();
                }
            };
        })

        Element.prototype.hasClass = function(className) {
            return this.className && new RegExp("(^|\\s)" + className + "(\\s|$)").test(this.className);
        };
    </script>

    <!-- Daha Fazla Göster Buton -->
    <script>
        $("#hide-show").click(function() {
            $("#ghost").slideToggle(1000);
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#hide-show").click(function() {
                $("#change-txt").text("Az");
            })
        });
    </script>

    <!-- Navbar sabitleme -->
    <script>
        // Check the initial Poistion of the Sticky Header
        var stickyHeaderTop = $('#navbar').offset().top;

        $(window).scroll(function() {
            if ($(window).scrollTop() > stickyHeaderTop) {
                $('#navbar').css({
                    position: 'fixed',
                    top: '0px'
                });
                $('#stickyalias').css('display', 'block');
            } else {
                $('#navbar').css({
                    position: 'static',
                    top: '0px'
                });
                $('#stickyalias').css('display', 'none');
            }
        });
    </script>
    {% include "includes/footer.html" %}
    {% endblock body %}
    