{% extends 'base.html' %}
{% load static %}
{% block body %}
<main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="assets/images/logo.svg" alt="logo" class="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Giriş Yap</h1>
            <form action="#!">
              <div class="form-group">
                <label for="email">E-Posta</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com">
              </div>
              <div class="form-group mb-4">
                <label for="password">Şifre</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Login">
            </form>
            <a href="#!" class="forgot-password-link">Forgot password?</a>
            <p class="login-wrapper-footer-text">Üye Değil misiniz ?  <a href="#!" class="text-reset">Kayıt Olun</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{%static 'img/ders.jpg'%}" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
{% endblock body %}