{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include "includes/message.html" %}
<!--
<main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="assets/images/logo.svg" alt="logo" class="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Kayıt Olun</h1>
            <form method="POST">
            <div class="form-group">
                <label for="email">Kullanıcı Adı</label>
                <input type="username" name="username" id="username" class="form-control" placeholder="Kullanıcı Adı">
              </div>
              <div class="form-group">
                <label for="email">E-Posta</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="email@deneme.com">
              </div>
              <div class="form-group mb-4">
                <label for="password">Şifre</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Şifrenizi Giriniz">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Kayıt Ol">
            </form>
            <a href="#!" class="forgot-password-link">Şifremi Unuttum</a>
            <p class="login-wrapper-footer-text">Üye misiniz ? <a href="#!" class="text-reset">Giriş Yapın</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{%static 'img/ders.jpg'%}" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
  -->

<br><br><br><br><br><br><br><br><br><br>
{% load crispy_forms_tags %}
<form  method="POST">
    {% csrf_token %}
    {{form | crispy}}
    <input type="submit" class="btn btn-danger" value="Kayıt Ol">
</form>

{% endblock body %}