{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include "includes/message.html" %}

<main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="assets/images/logo.svg" alt="logo" class="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Kayıt Olun</h1>
            <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                
                {{form}}
              
                
                
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Kayıt Ol">
            </form>
            <a href="#!" class="forgot-password-link">Şifremi Unuttum</a>
            <p class="login-wrapper-footer-text">Üye misiniz ? <a href="#!" class="text-reset">Giriş Yapın</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{%static 'img/ders.jpg'%}" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
 

<!--
<br><br><br><br><br><br><br><br><br><br>
{% load crispy_forms_tags %}
<form  method="POST">
    {% csrf_token %}
    {{form | crispy}}
    <input type="submit" class="btn btn-danger" value="Kayıt Ol">
</form>
 -->
{% endblock body %}